@charset "UTF-8";

* {
    font-family: arial, helvetica, sans-serif;
}

body {

    background: #fff;
}

.main {

    margin-top: 70px;
}

.main-login {

    background-color: #31708f;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin: 0 auto;
    margin-top:  15%;
    max-width: 330px;
    padding: 1em 1em;
}