@charset "UTF-8";

.jumbotron {

    margin: 0 !important;

    background: #4096ee;
    background: -moz-linear-gradient(top, #4096ee 0%, #60abf8 56%, #7abcff 100%);
    background: -webkit-linear-gradient(top, #4096ee 0%, #60abf8 56%, #7abcff 100%);
    background: linear-gradient(to bottom, #4096ee 0%, #60abf8 56%, #7abcff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4096ee', endColorstr='#7abcff', GradientType=0);

    color: #fff;
}

.navbar {

    border-radius: 0;
}

.navbar .container-fluid {

    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.navbar-collapse {

    padding: 0;
}

.navbar-default {
}

.panel {

    width: 80%;
    margin: 0 auto;

}
.container-fluid {

    padding: 0 3em;
}